{% extends "book/base.html" %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-grey">
            <form method="get">
              <a>Tytuł: {{myFilter.form.title}}</a>
              <a>Autor: {{myFilter.form.author}}</a>
              <a>Język: {{myFilter.form.language}}</a>
              <a>Przedział od (RRRR-MM-DD): {{myFilter.form.start_date}}</a>
              <a>Przedział do (RRRR-MM-DD): {{myFilter.form.end_date}}</a>
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
</nav>

<table class="table table-dark">
   <tbody>
          <th scope="col">Tytuł</th>
          <th scope="col">Autor</th>
          <th scope="col">Data publikacji</th>
          <th scope="col">Numer ISBN</th>
          <th scope="col">Ilość stron</th>
          <th scope="col">Język</th>
        </tr>
   </tbody>
    {% for book in books %}
    <tbody>
       <tr>
          <td><a href="{% url 'book-detail' book.id %}">{{book.title}}</a></td>
          <td>{{ book.author }}</td>
          <td>{{ book.pub_date }}</td>
          <td>{{ book.isbn }}</td>
          <td>{{ book.pages }}</td>
          <td>{{ book.language }}</td>
        </tr>
    </tbody>
    {% endfor %}
</table>
    {% if is_paginated %}

        {% if page_obj.has_previous %}
            <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
                    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                        <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}

    {% endif %}
{% endblock content %}