{% extends "book/base.html" %}
{% block content %}
<table class="table table-dark">
   <tbody>
        <tr>
          <th scope="col">Tytuł</th>
          <th scope="col">Autor</th>
          <th scope="col">Data publikacji</th>
          <th scope="col">Numer ISBN</th>
          <th scope="col">Ilość stron</th>
          <th scope="col">Język</th>
        </tr>
   </tbody>
    {% for book in page_obj %}
    <tbody>
       <tr>
          <td><a href="{% url 'book-detail' book.id %}">{{book.title}}</a></td>
          <td>{{ book.author }}</td>
          <td>{{ book.pub_date }}</td>
          <td>{{ book.isbn }}</td>
          <td>{{ book.pages }}</td>
          <td>{{ book.language }}</td>
        </tr>
    </tbody>
    {% endfor %}
</table>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
           <a href="?page=1"><button class="btn btn-success" type="submit">Pierwsza</button></a>
           <a href="?page={{ page_obj.previous_page_number }}"><button class="btn btn-success">Poprzednia</button></a>
        {% endif %}

        <span class="current">
            Strona {{ page_obj.number }} z {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}"><button class="btn btn-success">Następna</button></a>
            <a href="?page={{ page_obj.paginator.num_pages }}"><button class="btn btn-success">Ostatnia</button></a>
        {% endif %}
    </span>
</div>
{% endblock content %}